button {
  min-width: 150px;
  height: 45px;
  padding: 8px;
  border-radius: 12px;
  background-color: #8258ac;
  border: 2px solid #9b7fb8;
  cursor: pointer;
  margin-top: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
