.quiz_container {
  width: 450px;
  min-height: 470px;
  background-color: #fff;
  padding: 16px 30px;
  border-radius: 20px;
  border: 2px solid #dca6e2;
  margin: auto;
  h1 {
    margin: 0;
    border-bottom: 2px solid #957dad;
    padding-bottom: 6px;
    text-align: left;
  }
  .question_wrapper{
    text-align: left;
    h3{
      margin: 16px 0 12px 0;
    }
  }
  .action_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
}
