.option_wrapper {
  border: 2px solid #9c8bad;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  &:hover {
    background-color: #dca6e2;
  }
  p {
    margin: 0;
    font-weight: 600;
  }
}
.correct_option {
  background-color: #00a824 !important;
  color: #fff;
}

.incorrect_option {
  background-color: #e71316 !important;
  color: #fff;
}
